body{
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    position: absolute;
    background:transparent;
    width: 100%;
    color: #707070;
    z-index: 2;
}

header a{
    color: #707070;
    text-decoration: none;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}
header li{
    list-style: none;
    float: left;
    padding: 0px 10px 0 10px;
}

header #branding{
    font-size: 20px;
    float: left;
    margin: 0;
}

.active{
    border-bottom: 3px solid #707070;
}

.searching{
    position: absolute;
    top: 53%;
    left: 52%;
    transform: translate(-50%, -50%);
    background: transparent;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.searching div{
    position: absolute;
    left: -80px;
    font-size: 18px;
}

.searching:hover > .search-txt{
    background: white;
    border-radius: 10px;
    width:240px;
    padding: 0 6px;
}

.searching:hover > .search-btn{
    background: transparent;
}

.search-btn{
    color: #e84118;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
}


header nav ul{
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

header nav ul li{
    position: relative;
    padding: 40px 0px;
    transition: 0.5s;
    box-sizing: border-box;
}

header nav ul li:last-child{
    border-right: none;
}

header nav ul li a{
    font-size: 20px;
    text-decoration: none;
    padding: 0 25px;
    color: #707070;
}

.about{
    position: absolute;
    top: 20%;
    font-size: 40px;
    left: 49%;
    transform: translate(-50%,-50%);
    border-bottom: 5px solid #707070;
}

.iconall a{
    text-decoration: none;
    color: #707070;
}

.fa-phone{
    position: absolute;
    left:35%;
    top:35%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.phone a{
    position: absolute;
    left:40%;
    top:35%;
    transform: translate(-50%,-50%);
}

.fa-envelope{
    position: absolute;
    left:35%;
    top:40%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.email a{
    position: absolute;
    left:40%;
    top:40%;
    transform: translate(-50%,-50%);
}

.fa-facebook{
    position: absolute;
    left:35%;
    top:45%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.facebook a{
    position: absolute;
    left:39%;
    top:45%;
    transform: translate(-50%,-50%);
}

.fa-instagram{
    position: absolute;
    left:55%;
    top:35%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.instagram a{
    position: absolute;
    left:910px;
    top:35%;
    transform: translate(-50%,-50%);
}

.fa-twitter{
    position: absolute;
    left:55%;
    top:40%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.twitter a{
    position: absolute;
    left: 901px;
    top:40%;
    transform: translate(-50%,-50%);
}

.fa-youtube{
    position: absolute;
    left:55%;
    top:45%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.youtube a{
    position: absolute;
    left:909px;
    top:45%;
    transform: translate(-50%,-50%);
}

.fa-map-marker-alt{
    position: absolute;
    left:89%;
    top:90%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.location a{
    position: absolute;
    left:84%;
    top:90%;
    transform: translate(-50%,-50%);
}
